* {
    touch-action: pan-y; /* 解决谷歌浏览器滑动出现警告 */
  }
  
input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.search_bar__empty::after,
.search_bar__empty::before {
  content: "";
  position: absolute;
  border-radius: 3px;
  background: currentColor;
  opacity: .6;
  -webkit-transform: rotate(-45deg);
}

.search_bar__empty::before {
  top: 15px;
  left: 38px;
  width: 3px;
  height: 30px;
}

.search_bar__empty::after {
  top: 28px;
  left: 25px;
  width: 30px;
  height: 3px;
}

.search_bar {
  display: -webkit-box;
  margin-top: 0.16rem;
}

.c_bg2 {
  background-color: #fff;
}

.c_txt2 {
  color: rgba(26, 26, 26, .5);
}

.search_bar__bd {
  position: relative;
  -webkit-box-flex: 1;
  height: 0.3rem;
  margin: 0 0.16rem;
  overflow: hidden;
  border-radius: 0.3rem;
}

.search_bar__icon {
  position: absolute;
  top: 0.06rem;
  left: 48%;
  width: 0.18rem;
  height: 0.18rem;
  margin-left: -0.24rem;
  fill: currentColor;
}

.search_bar__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.c_input {
  color: rgba(26, 26, 26, 1);
  background-color: #fff;
}



.search_bar__empty {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  width: 80px;
  height: 60px;
  margin: -30px -20px 0 0;
  line-height: 999px;
  overflow: hidden;
  -webkit-transform: scale(.5);
  -webkit-transform-origin: center center;
}



.search_bar.mfocus .search_bar__icon {
  left: 0.06rem;
  margin-left: 0;
}

.search_bar.mfocus .search_bar__input {
  padding-left: 0.28rem;
  padding-right: 0.4rem;
  text-align: left;
}

.search_bar.mfocus .search_bar__bd {
  margin-right: 0;
}

.search_bar__cancel {
  display: none;
  height: 0.3rem;
  padding: 0 0.16rem;
  line-height: .3rem;
  font-weight: 700;
  font-size: .14rem;
}
.mui_list__tit {
    min-height: 0.17rem;
    margin-top: 0.08rem;
    line-height: .17rem;
    font-size: .13rem;
}
.c_txt1 {
  color: rgba(26, 26, 26, 1);
}

.search_bar.focus .search_bar__cancel {
  display: block;
}

.search_bar__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0.05rem;
  padding-bottom: 0.04rem;
  padding-left: 0.24rem;
  font-size: .14rem;
  text-align: center;
  border: none;
  border-radius: 0;
  background: 0 0;
  -webkit-appearance: none;
}

.hot_search {
  position: relative;
  overflow: hidden;
}

.hot_search__tit {
  margin: 0.16rem 0.16rem 0.12rem;
  font-size: .14rem;
  font-weight: 700;
}



.hot_search__delete {
  position: absolute;
  top: 0.06rem;
  right: 0.04rem;
  width: 0.4rem;
  height: 0.4rem;
}

.hot_search__icon_delete {
  display: block;
  width: 0.16rem;
  height: 0.16rem;
  margin: 0.12rem;
  fill: currentColor;
}

.c_bg2 {
  background-color: #fff;
}
.hot_search__bd {
  margin: 0 0.16rem;
  font-size: 0;
}
.hot_search__item {
  vertical-align: top;
  display: inline-block;
  max-width: 2.12rem;
  height: 0.24rem;
  line-height: .24rem;
  margin: 0 0.1rem 0.1rem 0;
  padding: 0 0.1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: .12rem;
  border-radius: 0.24rem;
}
.c_input::input-placeholder,
.c_input::-webkit-input-placeholder,
.c_input::-moz-placeholder,
.c_input::-moz-placeholder,
.c_input::-ms-input-placeholder {
  font-size: .14rem;
}
* {
  touch-action: pan-y;

}
.mui_tit {
  position: relative;
  display: -webkit-box;
  -webkit-box-align: center;
  height: 0.3rem;
  margin: 0.2rem 0.16rem 0.1rem;
}

.mui_tit__text {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .18rem;
  font-weight: 700;
}


.mui_tit__more {
  position: absolute;
  top: 0.05rem;
  right: -0.06rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  height: 0.2rem;
  font-size: 13px;
  font-weight: 300;
}

.c_txt2 {
  color: rgba(26, 26, 26, .5);
}

.mui_tit__arrow {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  margin: -1px 4px 0 -3px;
  -webkit-transform: scale(.5) rotate(-45deg);
  opacity: .6;
}

.mui_tit__arrow::after,
.mui_tit__arrow::before {
  content: "";
  position: absolute;
  background: currentColor;
}

.mui_tit__arrow::before {
  top: 0;
  right: 0;
  width: 3px;
  height: 11px;
  border-radius: 3px 3px 0 0;
}

.mui_tit__arrow::after {
  bottom: 0;
  left: 0;
  width: 14px;
  height: 3px;
  border-radius: 3px 0 3px 3px;
}
.mui_scroll {
    overflow: hidden;
}
.mui_scroll.scroll_x {
    margin-top: -0.1rem;
}
.mui_scroll__bd {
    -webkit-overflow-scrolling: touch;
}
.mui_scroll.scroll_x .mui_scroll__bd {
    margin-bottom: -0.1rem;
    padding: 0.1rem 0;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}
.mui_list {
    margin: 0 0.12rem;
    font-size: 0;
}
.mui_list.horizontal {
    position: absolute;
    margin-right: 0;
    white-space: nowrap;
}
.mui_list__item {
    vertical-align: top;
    display: inline-block;
    margin-bottom: 0.14rem;
    font-size: .12rem;
}
.mui_list.horizontal .mui_list__item {
    margin-bottom: 0;
    width: auto;
}
.mui_list__box {
    margin: 0 0.04rem;
}
.mui_list.horizontal .mui_list__box {
    width: 1.09rem;
}
.mui_list__media {
    position: relative;
}
.mui_list__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.08rem;
}
.mui_cover_count {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    height: 17px;
    min-width: 14px;
    padding: 0 7px;
    border-radius: 9px;
    background: rgba(0,0,0,.4);
}
.mui_list__media::after {
    content: "";
    display: block;
    padding-top: 100%;
}
.mui_cover_count__icon {
    display: block;
    width: 10px;
    height: 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAQlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////8IX9KGAAAAFXRSTlMANKf2EQjsz8aUemg9LSMb29qrT07ELBLNAAAAUklEQVQY053QSQ6AIBBE0bYBxQFwqvtf1bgimkoY/vJtepCmLq/hb9YAmO0XB7yNK0Fg2ggCmgjCLC5jbo8EobV4xKpBmsjypTMde4jc/gzS1wMkNgsYmjY08wAAAABJRU5ErkJggg==);
    background-size: cover;
    background-repeat: no-repeat;
}
.mui_cover_count__num {
    display: block;
    margin-left: 2px;
    line-height: normal;
    font-size: 11px;
    font-weight: 300;
    color: #fff;
}
.mui_list.desc_wrap .mui_list__desc, .mui_list.tit_wrap .mui_list__tit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
}
.mui_list.tit_wrap .mui_list__tit {
    max-height: 0.34rem;
}
.mui_list.horizontal.video .mui_list__box {
    width: 2.26rem;
}
.zone_info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    border-radius: 0.08rem;
    background: rgba(0,0,0,.1);
}
.zone_info__bd {
    position: absolute;
    right: 0.06rem;
    bottom: 0.06rem;
    left: 0.06rem;
    display: -webkit-box;
    -webkit-box-align: center;
}
.zone_info__bd {
    position: absolute;
    right: 0.06rem;
    bottom: 0.06rem;
    left: 0.06rem;
    display: -webkit-box;
    -webkit-box-align: center;
}
.zone_info__img {
    display: block;
    width: 0.34rem;
    height: 0.34rem;
    margin-right: 0.06rem;
    border-radius: 100%;
}
.zone_info__name {
    display: block;
    font-weight: 500;
    font-size: .16rem;
    color: #fff;
}
.mui_list.video .mui_list__media::after {
    padding-top: 56.25%;
}